In [5]:
import pandas as pd
data_df = pd.read_table('hightemp.txt',names=('都道府県','地点','°C','日'))
data_df

    都道府県    地点    °C           日
0    高知県   江川崎  41.0  2013-08-12
1    埼玉県    熊谷  40.9  2007-08-16
2    岐阜県   多治見  40.9  2007-08-16
3    山形県    山形  40.8  1933-07-25
4    山梨県    甲府  40.7  2013-08-10
5   和歌山県  かつらぎ  40.6  1994-08-08
6    静岡県    天竜  40.6  1994-08-04
7    山梨県    勝沼  40.5  2013-08-10
8    埼玉県    越谷  40.4  2007-08-16
9    群馬県    館林  40.3  2007-08-16
10   群馬県   上里見  40.3  1998-07-04
11   愛知県    愛西  40.3  1994-08-05
12   千葉県    牛久  40.2  2004-07-20
13   静岡県   佐久間  40.2  2001-07-24
14   愛媛県   宇和島  40.2  1927-07-22
15   山形県    酒田  40.1  1978-08-03
16   岐阜県    美濃  40.0  2007-08-16
17   群馬県    前橋  40.0  2001-07-24
18   千葉県    茂原  39.9  2013-08-11
19   埼玉県    鳩山  39.9  1997-07-05
20   大阪府    豊中  39.9  1994-08-08
21   山梨県    大月  39.9  1990-07-19
22   山形県    鶴岡  39.9  1978-08-03
23   愛知県   名古屋  39.9  1942-08-02

In [6]:
print(len(data_df))

24

In [7]:
with open("hightemp.txt") as f:
    for line in f:
        print(line.replace("\t", " "),end="")

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [8]:
data_col1=data_df['都道府県']
data_col1.to_csv('col5.txt',index=False,header=False)
data_col2=data_df['地点']
data_col2.to_csv('col6.txt',index=False,header=False)

In [9]:
with open('col5.txt') as f:
    print(f.read())
with open('col6.txt') as f:
    print(f.read())

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

In [10]:
def readlines_file(file_name):
    # 行毎のリストを返す
    with open(file_name, 'r') as file:
        return file.readlines()


def  save_file(file_name, text):
    with open(file_name, 'w') as file:
        return file.write(text)
cal10 = readlines_file('col5.txt')
cal11 = readlines_file('col6.txt')

# 改行や空白文字を削除
cal10 = list(map(lambda x: x.strip(), cal10))
cal11= list(map(lambda x: x.strip(), cal11))

# タブ区切りで並べたリストを作成
lines = ["{0}\t{1}\n".format(line1, line2) for line1, line2 in zip(cal10, cal11)]
save_file('margo.txt', "".join(lines))
with open('margo.txt') as f:
    print(f.read())

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

In [18]:
N=int(input())
data_df[:N].to_csv('x.txt',index=None,header=None)
with open('x.txt') as f:
    for line in f:
        print(line.replace(",", " "),end="")

4
高知県 江川崎 41.0 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25

In [19]:
N=int(input())
data_df.tail(N).to_csv('N_tail.txt',index=None,header=None)
with open('N_tail.txt') as f:
    for line in f:
        print(line.replace(",", " "),end="")

5
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [20]:
import math

fname = 'hightemp.txt'
n = int(input('N--> '))

with open(fname) as data_file:
    lines = data_file.readlines()

count = len(lines)
unit = math.ceil(count / n)  

for i, offset in enumerate(list(range(0, count, unit)), 1):
    with open('a{}'.format(i), mode='w') as out_file:
        for line in lines[offset:offset + unit]:
            out_file.write(line)
for i in range(1,len(list(range(0,count,unit)))+1):
    with open('a%d'%i) as f:
        print(f.read())

N--> 4
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08

静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05

千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24

千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [9]:
data_1=data_df[ "都道府県"].unique().tolist()
for data in data_1:
    print(data)

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
群馬県
愛知県
千葉県
愛媛県
大阪府

In [23]:
data_2 = data_df.sort_values('°C',ascending=False)
data_2.to_csv('sort.txt',index=None,header=None)
with open('sort.txt') as f:
    for line in f:
        print(line.replace(","," "),end="")

高知県 江川崎 41.0 2013-08-12
岐阜県 多治見 40.9 2007-08-16
埼玉県 熊谷 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
愛媛県 宇和島 40.2 1927-07-22
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40.0 2007-08-16
群馬県 前橋 40.0 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [34]:
data_3=data_df["都道府県"].value_counts().to_dict()
for key in data_3:
    print(key)

埼玉県
群馬県
山梨県
山形県
静岡県
岐阜県
千葉県
愛知県
和歌山県
高知県
大阪府
愛媛県